body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
main,
footer {
    width: 100%;
}

iframe {
    width: 100%;
    height: auto;
    border: none; /* Remover a borda padrão dos iframes */
}

/* Estilo específico para o header, se necessário */
#header {
    background-color: #f0f0f0;
    padding: 10px;
}

/* Estilo específico para o footer, se necessário */
footer {
    background-color: #f0f0f0;
    padding: 10px;
}
